* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container-wrap {
  padding: 20px 30px;
  background-color: rgb(21, 196, 137);
  width: 400px;
  margin: 60px auto 0;
}

.container-border {
  border: 2px solid rgb(189, 189, 235);
  padding: 9px;
}

.container-text {
  
}

.container-text p {
  text-align: center;
}